@import "../../../../../../../assets/mixin";

.home_section {
    width: 75%;
    margin: auto;

    .carousel {
        .carousel_image {
            width: 100%;
            transition: opacity 500ms linear 0s;
            height: 550px;
        }
    }
}

.services_section {
    width: 100%;
    margin: 120px auto;
    &::after {
        content: "";
        display: block;
        width: 100%;
        background: linear-gradient(0.25turn, #a313c7, #1894ce, #d41e1e, #005984);
        margin: 70px 0;
        height: 5px;
    }

    .tab {
        width: 75%;
        margin: auto;

        .service_tab {
            width: 50%;
            margin: auto;
            display: flex;
            flex-wrap: wrap;

            .service_tab_item {
                width: 100%;
                background: #005984;
                transition: all .5s ease-out;
                text-transform: uppercase;
                text-align: center;
                align-items: center;
                border-radius: 5px;

                .title {
                    @include text(21px, #ffffff);
                    text-transform: uppercase;
                    font-weight: 700;
                    padding: 25px 40px;
                    position: relative;

                    &::after {
                        content: "";
                        bottom: -14px;
                        position: absolute;
                        left: 47%;
                        line-height: 0;
                        box-sizing: border-box;
                        width: 0;
                        height: 0;
                        border-left: 15px solid transparent;
                        border-right: 15px solid transparent;
                        border-top: 15px solid #005984;
                        z-index: 1;
                        transition: all .5s ease-out;
                    }

                }
            }
        }

        .service_tab_section {
            width: 100;
            margin: 50px auto;

            .service_tab_content {
                .service_tab_item {
                    display: flex;
                    width: 100%;
                    flex-wrap: wrap;

                    .item {
                        width: 29%;
                        padding: 1.2em;
                        display: flex;

                        .service_image {
                            height: 45px;
                            cursor: pointer;

                            &:hover {
                                color: #005984;
                            }
                        }

                        .text_description {
                            margin-left: 20px;

                            .title {
                                @include text(20px, #4a5666);
                                margin-bottom: 25px;
                                opacity: 1;
                                visibility: visible;
                                font-weight: 700;
                                transition: opacity 0.24s ease-in-out;
                                cursor: pointer;

                                &::before {
                                    display: block;
                                    content: '';
                                    width: 50px;
                                    margin-bottom: 10px;
                                    border-bottom: solid 3px #005984;
                                    transform: scaleX(0);
                                    transition: transform 250ms ease-in-out;
                                }

                                &:hover::before {
                                    transform: scaleX(1);
                                }
                            }

                            .type {
                                @include text(14px, #6e7682);
                            }
                        }
                    }
                }
            }
        }
    }
}

.professionals_section {
    width: 75%;
    margin: auto;

    .professionals_content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .professionals_item_image {
            width: 50%;
            display: flex;
            overflow: hidden;

            .professionals_image {
                width: 90%;
                height: 380px;
            display: none;
           transition: all .5s ease-out;
            }

        }

        .slick-carousel {
            width: 50%;

            .type {
                @include text(21px, #20262e);
                font-weight: 700;
            }

            .title {
                @include text(16px, #6e7682);
                font-weight: 300;
                line-height: 36px;
                // padding-left: 40px;
                // padding-right: 40px;
                margin: 35px 0;
                position: relative;

            }

            .title_name {
                @include text(16px, #005984);
            }

            .title_profession {
                @include text(14px, #6f7883);
                padding: 15px 0px;
            }
        }
    }
}

.display {
 display: block !important;
}