<section class="home_section">
  
            <img class="image home_image" src="assets/images/home.jpg" alt="" width="100%">
</section>
<section class="services_section">
    <div class="tab">
        <div class="service_tab_section">
            <div class="service_tab_content">
                <div class="service_tab_item">
                    <div class="item" *ngFor="let item of serviceTabItem" [routerLink]="item.router">

                        <img class="image service_image" src="{{item.image}}">
                        <div class="text_description">
                            <p class="title">{{item.title}}</p>
                            <p class="type">{{item.type}}</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
     
    </div>
</section>

<section class="professionals_section">
        <p class="text">мероприятия </p>
<div class="professionals_content">
    
    <div class="professionals_item_image" >
        <img class="image professionals_image"  *ngFor="let item of mainSlider;let ind=index" src="{{item.img}}" [ngClass]="{'display':currentSlide==ind}">
    </div>
    <div class="slick-carousel">
        <ngx-slick-carousel class="carousel"  [config]="slideConfig2"   (afterChange)="afterChange($event)">
            <div ngxSlickItem *ngFor="let item of slidesText" class="slide">
              <p class="title">{{item.title}}</p>
              <p class="title_name">{{item.name}}</p>
              <p class="title_profession">{{item.profession}}</p>
            </div>
        </ngx-slick-carousel> 
    </div>
</div>
</section>

