<section class="contact_section">
    <app-banner [text]="'Контакты'"></app-banner>

    <div class="contact_container">
        <div id="map"></div>
        <div class="contact_content">
            <p class="type">CONTACT DETAILS</p>
            <div class="contact_item">

                <div class="list">
                    <ul class="menu">
                        <li class="title"><a><i class="material-icons">
                                    bookmarks
                                </i>Renehavis</a></li>
                        <li class="title"><a><i class="material-icons">
                                    navigation
                                </i>108811, город Москва, километр Киевское шоссе 22-й (п Московский),
                                домовлад. 4 стр 5 корп е, блок 502е эт 5 оф 18</a></li>
                    </ul>
                    <ul class="last">
                        <li class="title"><a><i class="material-icons">
                                    phone
                                </i>9 495 532 67 68 </a></li>
                        <li class="title"><a><i class="material-icons">
                                    email
                                </i>info@ренехавис.рф</a></li>
                    </ul>

                </div>

                <div class="registration_list">
                    <p class="text">SOCIAL MEDIA</p>
                    <div class="list_item">
                        <img class="image" src="assets/images/instagram.png">
                        <p class="title">Instagram</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>