<section class="instruction_section">
    <app-banner [text]="'Инструкция'"></app-banner>
    <div class="instruction_content">
        <p class="title">Способ применения и дозы:</p>
        <div class="description">
            <p class="text">Инъекции препарата RenehaVis (РенехаВис) должны производиться специалистом здравоохранения,
                обученному процедуре проведения внутрисуставных инъекций. Режим введения препарата RenehaVis (РенехаВис)
                представляет собой инъекции в синовиальное пространство больного сустава (интраартикулярно).
                Рекомендуется от одной до трех инъекций за курс в зависимости от тяжести дегенеративных изменений в
                коленном суставе.
                Перед введением препарата RenehaVis (РенехаВис) нужно обработать кожу в области инъекции антисептическим
                средством и подождать до его полного высыхания.
                При наличии экссудата в полости сустава его следует удалить перед введением препарата RenehaVis
                (РенехаВис).
                Процедура проведения инъекции может включать в себя аспирацию небольшого количества жидкости с целью
                проверки правильности расположения иглы.
                Перед тем как продолжить инъекцию, следует убедиться, что шток поршня шприца плотно вставлен в
                уплотнитель. Содержимое шприца стерильно и должно вводиться с помощью стерильной иглы соответствующего
                размера (рекомендуемый размер иглы: 25G). Шприц имеет канюлю Люэра (6%).
                После однократного использования шприц и игла должны быть утилизированы. </p>
            <img class="image instruction_image" src="assets/images/instruction.png">
        </div>

        <p class="title">Применение:</p>
        <p class="text">Применяется для облегчения болевого синдрома и снижения тугоподвижности коленного сустава у
            пациентов имеющих дегенеративные изменения в синовиальном соединении.
            Длительность лечебного эффекта у пациентов, страдающих остеоартритом медиального отдела коленного сустава
            первой, второй и третьей стадии, сохраняется до 12 месяцев.
            Действие препарата RenehaVis (РенехаВис) обусловлено его биосовместимостью и физико-химическими свойствами.
            Содержащийся в препарате RenehaVis (РенехаВис) гиалуронат натрия с низкой и высокой молекулярной массой
            представляет собой биополимер, состоящий из повторяющихся дисахаридных остатков N-ацетилглюкозамина и
            глюкуроновой кислоты. Будучи синтезируемым путем ферментации бактерии Streptococcus equi, он является
            эквивалентом естественному гиалуронату натрия, вырабатываемого в организме человека. Препарат RenehaVis™
            восполняет содержание гиалуроната натрия в синовиальной пространстве сустава человека, которое было снижено
            в результате дегенеративных и травматических изменений сустава.

        </p>
        <p class="title">Противопоказания:</p>
        <p class="text">Повышенная чувствительность к гиалуронату натрия.</p>
        <p class="title">Особые указания и меры предосторожности:</p>
        <p class="text">
            Инъекции RenehaVis (РенехаВис) не делают при наличии инфицированных ран или кожных заболеваний в области
            введения препарата.
            Шприц с предварительно набранным в него препаратом RenehaVis (РенехаВис) предназначен исключительно для
            однократного применения. Содержимое шприца должно использоваться для выполнения только одной единовременной
            инъекции. Оставшийся в шприце гиалуронат натрия должен быть в обязательном порядке утилизирован. При
            использовании шприца для повторной инъекции существует риск заражения, который может привести к развитию
            инфекции у пациента и/или к появлению реакции на чужеродные тела.
            Протез RenehaVis (РенехаВис) не подлежит повторной стерилизации, поскольку это может отрицательно сказаться
            на действии препарата и в итоге поставить под угрозу здоровье и безопасность пациента.
            Гиалуронат натрия синтезируется путем ферментации бактерии Streptococcus equi и тщательно очищается. Тем не
            менее врач должен учитывать иммунологические и иные потенциальные риски, которые могут быть связаны с
            введением любого биологического материала.
            Препарат RenehaVis (РенехаВис) не применяется у детей.
            Данных по безопасности применения препарата RenehaVis (РенехаВис) при беременности и лактации нет.
            Использование препарата при беременности и лактации возможно по рекомендации ортопеда.
            Не использовать, если стерильная упаковка повреждена.
            Не использовать по истечении срока годности.
            Соблюдайте все требования национальных или местных нормативных документов
            относительно безопасного использования и утилизации игл. При возникновении
            любого рода травм срочно обратитесь к врачу.

        </p>
        <p class="title">Побочное действие:</p>
        <p class="text">Переходящая боль и отек (характерные для процедур внутрисуставных
            инъекций).
            У пациентов, страдающих воспалительным остеоартритом, может наблюдаться проходящее усиление воспаления в
            суставе после введения в него препарата
            RenehaVis (РенехаВис) .Редко могут случаться воспалительные реакции, связанные или не связанные с введением
            препарата RenehaVis (РенехаВис).
        </p>
        <p class="title">Взаимодействие с другими лекарственными средствами:</p>
        <p class="text">Препарат RenehaVis (РенехаВис) не тестировался на совместимость с другими средствами для
            внутрисуставного введения. Поэтому смешивание или одновременное введение с другими средствами для
            внутрисуставных инъекций не рекомендуется.</p>
        <p class="title">Условия хранения:</p>
        <p class="text">
            Хранить при температуре от 2°С до 25°C в защищенном от света месте. Не замораживать.
            Не использовать, если стерильная упаковка повреждена.
            Не использовать по истечении срока годности.

        </p>

    </div>
</section>