@import '../../../../../../assets/mixin';
.page_layout {
    max-width: 1920px;

    .page_layout_content {
        .page_layout_container {
            width: 100%;
        }

        .main_layout {
            width: 100%;
            margin: 50px auto;
        }
    }
}

  