<section class="doctors_section">
    <app-banner [text]="'Врачам/пациентам'"></app-banner>
    <div class="doctors_container">
        <div class="tab" [ngSwitch]="tab">
            <div class="tab_content">
                <div class="tab_item" (click)="changeTab(1)" [ngClass]="{'activTab':tab==1}">
                    <p class="tab_title">ПАЦИЕНТАМ</p>
                </div>
                <div class="tab_item" (click)="changeTab(2)" [ngClass]="{'activTab':tab==2}">
                    <p class="tab_title">Врачам</p>
                </div>

            </div>
            <div class="descriprion">
                <div class="description_item pacient_description" *ngSwitchCase="1">
                    <p class="type">ПАЦИЕНТАМ</p>
                    <p class="text">Остеоартроз&nbsp;— это хроническое заболевание суставов (суставных
                        хрящей) и&nbsp;окружающих
                        их&nbsp;тканей, вызывающее боль и&nbsp;ограничение или потерю подвижности.</p>
                    <div class="image_content">
                        <p class="text">Причинами разрушения суставных хрящей могут стать: нарушение обмена веществ
                            и&nbsp;гормонального
                            фона, ухудшение кровоснабжения сустава, наследственная предрасположенность
                            к&nbsp;заболеваниям
                            хрящевой ткани, травмы, псориаз, ревматоидный артрит, хирургическое вмешательство
                            на&nbsp;суставе,
                            возрастные изменения в&nbsp;суставах.</p>
                        <img class="image doctors_image" src="assets/images/pacient.jpg">
                    </div>
                    <p class="text">Однако самая распространенная причина артроза&nbsp;— несоответствие между нагрузкой
                        на&nbsp;суставы и&nbsp;способностью хрящей сопротивляться этой нагрузке. Виновниками такого
                        состояния могут стать: избыточный вес, «стоячая» работа, нарушение осанки, занятие
                        спортом.</p>
                    <p class="text">При остеоартрозе происходит разрушение суставного хряща. Он&nbsp;утрачивает свою
                        эластичность,
                        суставные поверхности становятся шероховатыми, на&nbsp;них появляются трещины. При этом
                        синовиальная
                        жидкость&nbsp;— эластичный вязкий гель, покрывающий хрящ и&nbsp;защищающий его
                        от&nbsp;повреждения, теряет свои смазывающие и&nbsp;защитные свойства. Это происходит вследствие
                        постепенного уменьшения концентрации и&nbsp;молекулярного веса гиалуроновой кислоты&nbsp;—
                        основного компонента синовиальной жидкости.</p>
                    <p class="text"> У пациентов в группе RenehaVis (РенехаВис) наблюдалось значительное уменьшение
                        (p 0.007) боли при движении по ВАШ в течение трех недель (после второй инъекции) по сравнению со
                        всеми группами. Это отличие сохранялось в течение 16 недель. Большее улучшение у пациентов,
                        получавших изделиеRenehaVis (РенехаВис), было достигнуто с помощью второй инъекции, и это
                        улучшение сохранялось через 16 недель.</p>
                    <p class="text">Эти данные свидетельствуют о том, что комбинация гиалуроната натрия в более низких и
                        более высоких диапазонах молекулярной массы может предоставить пациентам более физиологически
                        динамическую гиалуронат натриевую вискосапплементарную терапию, чем изделие, улучшающий
                        скольжение суставных поверхностей с узким диапазоном молекулярной массы и, следовательно,
                        большую лечения остеоартрита коленного сустава, связанных с остеоартритомот легкой до средней
                        тяжести.</p>
                </div>

                <div class="description_item doctors_description" *ngSwitchCase="2">
                    <p class="type">ИНФОРМАЦИЯ ДЛЯ ВРАЧЕЙ</p>
                    <p class="type">Имплантат синовиальной жидкости для внутрисуставных инъекций RenehaVis (РенехаВис) в шприце двухкамерном без иглы с заглушкой:

                            - раствор гиалуроната натрия 22 мг/мл (2,2%) – 0,7 мл;
                            
                                        - раствор гиалуроната натрия 10 мг/мл (1,0%) – 0,7 мл.</p>
                    <p class="text">Медицинское изделие RenehaVis(РенехаВис) используется для лечения остеоартрита
                        коленного сустава. Медицинское изделие RenehaVis(РенехаВис) является полностью всасывающимся
                        стерильным средством, которое вводится в синовиальную полость коленного сустава при помощи
                        инъекций и улучшает скольжение суставных поверхностей. Поэтому медицинское изделие
                        RenehaVis(РенехаВис) относится к изделиям медицинского назначения III класса, согласно
                        классификации Росздравнадзора (РЗН)(Постановление № 1416).</p>
                    <div class="image_content">
                        <p class="text">Медицинское изделие RenehaVis(РенехаВис) восстанавливает естественное содержание
                            гиалуроната натрия в синовиальной оболочке, количество которого сокращается в начальной
                            стадии остеоартрита коленного сустава.</p>
                        <img class="image doctors_image" src="assets/images/pacient2.jpg">
                    </div>
                    <p class="text">Медицинское изделие RenehaVis(РенехаВис) состоит из двух вискосаплемантарных
                        компонентов:</p>
                    <ul class="cont-list">
                        <li class="text">Низкомолекулярный раствор (LMW): 0,7 мл раствор гиалуроната натрияс
                            молекулярной массой 1 х 106 Дальтон</li>
                        <li class="text">Высокомолекулярный раствор (HMW): 0,7 мл раствор гиалуроната натрияс
                            молекулярной массой 2 x 106дальтон.</li>
                    </ul>
                    <p class="text">LMW – низкомолекулярный раствор;</p>
                    <p class="text">HMW – высокомолекулярный раствор</p>
                    <p class="text">Клиническая оценка, направленная на демонстрацию безопасности и эффективности
                        медицинского изделия RenehaVis(РенехаВис), проводилась в рамках сравнительного клинического
                        исследования и критической оценки научной литературы, посвященной
                        синовиальнойвискосапплементарной терапии.</p>
                        <div class="table">
                            <img class="image table_image" src="assets/images/table.png">
                        </div>
                </div>

            </div>

        </div>

    </div>
</section>