@import "../../../../../../../../assets/mixin";


.title {
    @include text(18px, #005984);
    cursor: pointer;
    margin-bottom: 20px;
    text-decoration: underline;
    text-transform: uppercase;

    &::before {
        content: "";
        display: inline-block;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        background-color: #005984;
        margin-right: 10px;
    }
}

.text{
    display: none;
}



.block{
    display: block !important;
}