@import "../../../../../../../assets/mixin";

.articles_section {
    width: 100%;

    .articles_content {
        width: 75%;
        margin: 60px auto;

        .articles_image {
            width: 100%;
            margin-bottom: 20px;
        }
        
        .descriprion_item {
            width: 100%;
            margin: 20px 0;
            .descriprion_image{
                width: 100%;
            }
            .title{
                @include text(25px, #20262e);
                font-weight: 700;
                padding: 10px 0;
            }
            .text{
                @include text(21px, #20262e);
            }

        }

    }
}