<section class="articles_section">
    <app-banner [text]="'Полезные статьи'"></app-banner>
    <div class="articles_content">
        <articles-item-view [title]="'ОРИГИНАЛ'">
            <img *ngFor="let item of originalItem" class="image articles_image" src="{{item.image}}">
        </articles-item-view>
        <articles-item-view [title]="'ПЕРЕВОД С ОРИГИНАЛА'">
            <div class="descriprion_item">
                <img class="image descriprion_image" src="assets/images/ru0.bmp">
                <p class="title">Аннотация</p>
                <p class="text">
                    Основной целью исследования являлось определение эффективности интра-артикулярной
                    комбинированной гиалуроновой кислоты (ГК) в лечении остеоартроза коленного сустава 1-3 стадии
                    локализованного в медиальном отделе. Производилось сравнение с плацебо и оценка результатов
                    лечения на 16, 52 и 104 неделе по индивидуальной визуальной аналоговой шкале (ВАШ) боли после
                    ходьбы на дистанцию 40 м.
                    Дополнительные цели исследования включали оценку боли в покое по 10 см ВАШ, оценку общей
                    удовлетворенности пациентов лечением по пятибалльной шкале, потребности в приеме сопутствующих
                    медикаментов, оценку количества пациентов с баллом 45 по шкале боли на 52 и 104 неделе.
                    Безопасность оценивалась по количеству зарегистрированных нежелательных реакций.
                    Исследование было разработано как сравнительное проспективное, рандомизированное, двойное
                    слепое, плацебо-контролируемое. 200 пациентов были разделены случайным образом на четыре
                    равных по количеству группы, которые получали по 3 еженедельных внутрисуставных инъекции:
                    группа 1 – DMW (комбинированная ГК с разным молекулярным весом и концентрацией); группа 2 –
                    HMW (высокомолекулярная ГК); группа 3 - LMW (низкомолекулярная ГК); группа 4 – PL (плацебо,
                    физиологический раствор). Оценка состояния пациентов проводилась на этапе начала лечения и
                    через 16, 52, 104 недели. Анализ результатов проводился с использованием программы Сигма
                    стат (SPSS Inc., Chicago, Illinois) и Microsoft Excel (Microsoft Corp, Redmond, Washington).
                    Статистическая значимость составила P 0.05. Анализ дисперсии результатов повторных
                    измерений испытания был использован для проверки на наличие различий от исходных
                    характеристик группы между первичными и вторичными результатами на каждом интервале серий
                    инъекций. На 16, 52 и 104 неделях соответственно, результаты оценки по ВАШ после ходьбы
                    значительно улучшились во всех группах по отношению к плацебо: DMW (89.3%, P 0.001; 87.4%,
                    P 0.001; 88.1%, P 0.001); LMW (81.3%, P 0.001; 78.2%, P 0.001; 77.0%, P 0.001) and HMW
                    (79.1%, P 0.001; 81.1%, P 0.001; 79.4%, P 0.001). На 52 неделе 8 пациентов из группы DMW
                    имели показатель ВАШ в покое менее 45. Группа DMW имела меньшие показатели ВАШ в покое (62
                    mm, P 0.001) по сравнению с LMW (76 mm) и HMW (88 mm). Схожие различия были отмечены после
                    ходьбы после повторных инъекций: ВАШ 39, 41 и 43 (DMW, LMW, HMW). На 104 неделе различия
                    имели аналогичный характер. В группах DMW и LMW нежелательных реакций отмечено не было; в
                    группе HMW было зарегистрировано 2 местных реакции на 52 неделе и 1 на 104 неделе. Тяжелых
                    нежелательных реакций не было зарегистрировано ни в одной группе. В группах были отмечены
                    следующие нежелательные реакции: боль и местный отек в месте инъекции (21%), эритема в месте
                    инъекции (12%) и скованность в суставе (7%). Внутрисуставные инъекции ГК в низко-,
                    высокомолекулярной или комбинированной форме были высокоэффективны в уменьшении боли в покое
                    и, тем более при ходьбе, у пациентов с остеоартрозом коленного сустава. Наиболее выраженные
                    улучшения и в покое, и при активности были зарегистрированы у пациентов, получавших DMW
                    (комбинированный продукт), с одновременным более высоким показателем удовлетворенности
                    лечением и более низкой потребностью в анальгетиках на 16, 52 и 104 неделе, что позволяет
                    рекомендовать комбинировать ГК с разным молекулярным весом для улучшения долгосрочных
                    результатов особенно у активных пациентов с остеоартрозом. </p>
                <p class="title">Введение</p>
                <p class="text">
                    Остеоартороз (ОА) является наиболее распространенной формой артрита в западной популяции.
                    Остеоартрит коленного сустава приводит к появлению инвалидизирующих симптомов примерно у 10%
                    пациентов старше 55 лет1. По данным ВОЗ, остеоартроз коленного сустава становится четвертым по
                    значимости фактором инвалидизации у женщин и восьмым у мужчин. Высокая заболеваемость и расходы
                    на лечение делают остеоартроз социально значимым заболеванием.
                    Рекомендации по лечению ОА были разработаны Американским Институтом Ревматологии (American
                    College of Rheumatology (ACR), и Европейской Противоревматической Лигой (European League against
                    Rheumatism (EULAR). Анальгетики и нестероидные противовоспалительные препараты (НПВП) являются
                    основой лечения.2 НПВП вызывают серьезные побочные эффекты со стороны желудочно-кишечного
                    тракта, что препятствует применению этих препаратов у возрастных пациентов, заболеваемость
                    которой ОА весьма высока. Применение НПВП сейчас требует большой осторожности, и лечащий врач
                    должен информировать пациента о возможных побочных эффектах. Нефармакологические методы лечения,
                    такие как обучение, лечебная физкультура, изменение образа жизни, не очень популярны среди
                    пациентов и приверженность пациентов к подобным методам, как таковым низка.
                    Внутрисуставные инъекции гиалуроновой кислоты (ГК) рекомендованы для лечения и все чаще
                    используются для уменьшения симптомов. ГК – это неразветвленный, высокомолекулярный полисахарид
                    распространенный по всему телу, и играющий важную роль как основной компонент синовиальной
                    жидкости и ткани хряща. Главная роль ГК в синовиальной жидкости – это поддержание ее
                    виско-эластичной структуры и функциональных характеристик суставного матрикса.
                    Остеоартрит является результатом механических и биологических изменений, которые дестабилизируют
                    процессы нормальной деградации и синтеза компонентов суставного хряща3, и характеризуется
                    снижением концентрации и молекулярного веса ГК, что в свою очередь, может приводить к появлению
                    боли и потери функциональности таких высоконагруженных суставов как коленный2. Следовательно,
                    внутрисуставное виско-замещение с помощью ГК помогает восстановить естественную концентрацию и
                    молекулярный вес компонентов суставного матрикса, и привести к улучшению функции и уменьшению
                    боли.3 Внутрисуставное введение ГК в настоящее время назначается пациентам которым не помогли
                    программы не-фармакологических воздействий и применение анальгетиков, включая ацетаминофен.4 В
                    клинических исследованиях после интра-артикулярного введения препаратов ГК показано значительно
                    большее снижение боли по сравнению с плацебо, и аналогичное или превосходящее снижение боли в
                    сравнении с введение глюкокортикоидов.9-10Хотя снижение боли после внутрисуставного введения ГК
                    достигается более медленно, чем после введения глюкокортикоидов, эффект после ГК длится
                    значительно дольше. Аналогично, ГК интра-артикулярно дает сравнимый эффект с оральными
                    противовоспалительными препаратами. Недавние мета-анализы показали схожую эффективность
                    внутрисуставного введения кортикостероидов и ГК различного молекулярного веса.10-11 Таким
                    образом врачи имеют достаточные основания рассматривать препараты ГК как оптимальный вариант
                    лечения остеортроза от ранних до тяжелых стадий заболевания.12
                    Несколько вариантов препаратов ГК, отличающихся по молекулярному весу, составу, дозировке и
                    заявленной эффективности, применяются клиницистами в мире в настоящее время. В частности,
                    неясно, обнаруживаются ли различия в эффективности самих препаратов13-15, в то время как
                    пациенты получают конкретную форму ГК без каких-либо объективных критериев для объяснения выбора
                    в каждом случае. Показано что различия в концентрации и молекулярном весе ГК входящей в состав
                    синовиальной жидкости встречаются у взрослых пациентов со сдвигом равновесия вязкость –
                    эластичность, который возникает при остеоартрите и зависит от его тяжести и характера
                    симптомов.3
                    Колено при динамичном движении нуждается в эластичной сбалансированной композиции с оптимальным
                    молекулярным весом соответствующем нагрузке. Например, при высокочастотной нагрузке,
                    воздействующей на синовиальную жидкость равновесие сдвигается в сторону большей эластичности
                    жидкости, за счет изменения гиалуроната, в то время как при низкочастотной нагрузке жидкость
                    становиться более вязкой.3 Но как правило, вводимый препарат имеет ограниченный диапазон
                    молекулярного веса, и является или низко-, или средне-, или высокомолекулярным и ни одна из этих
                    форм не оказывается композицией, которая имитирует потребности активного сустава при
                    остеоартрите. Продукт способный менять свойства таким образом и имитировать синовиальную
                    жидкость может создать наиболее благоприятные реологические условия для сустава при
                    остеоартрозе.16
                    Целью исследования было оценить отдаленные клинические результаты: боль в покое, боль после
                    ходьбы, а также нежелательные реакции, необходимость в приеме дополнительных медикаментов и
                    общую удовлетворенность пациентов лечением после случайно выбранного внутрисуставного введения
                    одного из виско-замещающих препаратов: низкомолекулярной ГК (500-1000 кДа), высокомолекулярной
                    (6000 кДа), комбинации низкомолекулярной и высокомолекулярной ГК и плацебо при остеоартрите
                    коленного сустава.


                </p>

                <p class="title">Материалы и методы</p>
                <p class="text">
                    Основной целью исследования являлось определение эффективности интра-артикулярной
                    комбинированной гиалуроновой кислоты (ГК) в лечении остеоартроза коленного сустава 1-3 стадии
                    локализованного в медиальном отделе. Производилось сравнение с плацебо и оценка результатов
                    лечения на 16, 52 и 104 неделе по индивидуальной визуальной аналоговой шкале (ВАШ) боли после
                    ходьбы на дистанцию 40 м. Дополнительные цели исследования включали оценку боли в покое по 10 см
                    ВАШ, оценку общей удовлетворенности пациентов лечением по пятибалльной шкале, потребности в
                    приеме сопутствующих медикаментов, оценку количества пациентов с баллом 45 по шкале боли
                    на 52 и 104 неделе. Безопасность оценивалась по количеству зарегистрированных нежелательных
                    реакций.
                    Это одноцентровое, рандомизированное, двойное слепое, плацебо-контролируемое исследование.
                    Двести проинформированных и подтвердивших желание участвовать пациентов были случайно разделены
                    на четыре группы: Группа 1 (DMW); Группа 2 (LMW); Группа 3 (HMW); Группа 4 (Плацебо). Пациенты
                    были разделены с помощью таблицы-генератора случайных чисел. Информация о характере препарата,
                    использованного для лечения, была скрыта от пациента и лечащего врача, включая наименование, вид
                    и объем шприца. Пациентам производились внутрисуставные инъекции один раз в неделю, на
                    протяжении трех недель. Результаты оценивались на 16, 52 и 104 неделе. Ход лечения представлен в
                    Таблице 1.

                </p>
                <img class="image descriprion_image" src="assets/images/ru1.bmp">

                <p class="text">Критерии включения пациентов: клинический диагноз остеоартрит на основании
                    односторонней боли и ограничения подвижности; остеоартрит медиального отдела сустава 1-3
                    степени, подтвержденный радиографически; ВАШ при боли в покое без нагрузки не менее 45 из 100
                    мм; согласие на внутрисуставную инъекцию; возможность проходить продолжительный курс наблюдения
                    и лечения; способность и желание дать информированное согласие. Критерии исключения пациентов:
                    не способность или не желание дать информированное согласие; не возможность следовать протоколу
                    лечения; беременность и кормление грудью; терминальная стадия остеоартрита; противопоказания к
                    внутрисуставным инъекциям или выявленная гиперчувствительность к гиалуронату натрия;
                    запланированная хирургическая манипуляция на коленном суставе в период исследования; получение
                    внутрисуставных диагностических инъекций в данный момент; получение внутрисуставных инъекций
                    кортикостероидов в настоящее время или в срок менее 6 месяцев до включения в исследование;
                    получение внутрисуставных инъекций гиалуроновой кислоты в настоящее время или в срок менее 6
                    месяцев до включения в исследование; прием гликозамина и / или хондроитина сульфата, и/или НПВП
                    в дозировке, которая была стабильной в течение предыдущих трех месяцев и остающаяся постоянной
                    во время исследования; инфекция или кожное заболевание в зоне инъекции; значительный венозный
                    застой или лимфостаз в конечности; любое состояние/заболевание, которое может повлиять на
                    соответствие пациента или на интерпретацию результатов лечения по мнению исследователя. Все
                    сопутствующие медикаменты регистрировались и любое внутрисуставное лечение или инъекция, кроме
                    входящих в протокол исследования были запрещены.
                    Никакого нового лечения с известным или предполагаемым терапевтическим эффектом во время
                    исследования не начиналось. Следующие манипуляции были запрещены до исследования:
                    внутрисуставное введение кортикостероидов в исследуемый сустав – за три месяца до первичного
                    скрининга, внутрисуставное введение препарата гиалуроновой кислоты – за три месяца до первичного
                    скрининга; прием системных стероидов – за три месяца до первичного скрининга; антикоагулянты (за
                    исключением ацетилсалициловой кислоты в дозировке до 325 мг в день).
                </p>

                <p class="title">Исследуемая популяция</p>
                <p class="text">225 пациентов было оценено на соответствие критериям включения. 25 пациентов были
                    отсеяны по причине не соответствия (n=13) и по причине нежелания участвовать в исследовании
                    (n=12). 200 пациентов были случайным образом разделены на группы и получили лечение. 10
                    пациентов вышли из исследования по не связанным с ходом исследования причинам (Плацебо – 3,
                    DMW-2, LMW -1, HMW-4). В соответствии с Хельсинской декларацией, пациент мог выйти из
                    исследования в любой момент по любой причине.</p>

                <p class="title">Лечение</p>
                <p class="text">Соответствующие критериям пациенты получили один из вариантов лечения в соответствии
                    со случайным выбором: DMW (комбинированный двойной препарат ГК разного молекулярного веса и
                    концентрации); HMW (высокомолекулярная ГК); LMW (низкомолекулярная ГК); PL (плацебо
                    физиологический раствор). Внутрисуставные инъекции проводились еженедельно, на протяжении трех
                    недель, в асептических условиях. Введение производилось шприцами без опознавательных знаков, для
                    обеспечения двойного слепого характера исследования, через иглы 25-27 G длиной 40 мм. Перед
                    инъекцией кожа обрабатывалась 1%м раствором бетадина. Анестетик не использовался ни наружно, ни
                    инъекционно. Внутрисуставное введение производилось квалифицированным специалистом с
                    использованием медиального доступа: после пальпации верхнелатеральной точки надколенника, игла
                    вводилась в пространство между надколенником и мыщелком бедренной кости параллельно нижней
                    границе надколенника.</p>



                <p class="title">Исследуемые материалы</p>
                <p class="text">Комбинированная ГК (DMW): двойной препарат, состоящий из 0.7 ml стерильного 2.2%
                    низкомолекулярного гиалуроната натрия (0.58-0.78*106 Дальтон) и 0.7 ml стерильного 1%
                    высокомолекулярного гиалуроната натрия (1.2-2.0*106 Дальтон). Указанные два вида ГК были
                    разделены подвижной пробкой «Дебиопасс» в готовом к применению 3 мл стерильном шприце, что
                    позволяло вводить их последовательно в коленный сустав во время инъекции. Низкомолекулярная ГК
                    (LMW): гиалуронат натрия с молекулярным весом 500-730 кДa, 20 mg/2 mL в готовом к применению
                    стерильном шприце. Высокомолекулярная ГК (HMW): гиалуронат натрия с молекулярным весом 6000 кДa,
                    16 mg/2 mL в готовом к применению стерильном шприце. Плацебо: 2 mL стерильного физиологического
                    раствора. Общие сопутствующие лечебные мероприятия до начала исследования включали прием
                    ацетаминофена (62% пациентов), прием других НПВП (60 % пациентов), прием нутрицевтиков (38%
                    пациентов) и физиотерапию и/или ортезирование (13% пациентов).</p>
                <p class="title">Методика оценки результатов</p>
                <p class="text">Результаты оценивались по визуальной аналоговой шкале (ВАШ), представляющей из себя
                    линию длиной 10 см и заканчивающуюся двумя крайними точками боли (Схема 1).</p>

                <img class="image descriprion_image" src="assets/images/ru2.bmp">



                <p class="title">Нежелательные явления</p>
                <p class="text">Все нежелательные явления (НЯ) регистрировались во время исследования. Исследователь
                    и ассистенты контролировали появление субъективных и объективных показателей нежелательных
                    явлений, включая данные лабораторных исследований. Все нежелательные явления оценивались по
                    интенсивности и выявлялась их связь с исследуемым методом лечения. Наблюдение продолжалось
                    вплоть по исчезновения НЯ или до окончания периода исследования. Интенсивность НЯ отражалась по
                    шкале: легкие, средней тяжести, тяжелые.</p>


                <p class="title">Статистический анализ данных</p>
                <p class="text">Проводилось сравнение первичных и вторичных результатов с начальным уровнем
                    показателей группы после каждой серии инъекций. Для этого проводился анализ дисперсии серии
                    измерений и х2 тест. Для расчетов использовались Sigma stat (SPSS Inc., Chicago, Illinois, USA)
                    и Microsoft Excel (Microsoft Corp, Redmond, Washington, USA). Статистическая значимость была
                    установлена на уровне P 0,05 и включала 95% доверительных интервалов (ДИ). Объем выборки был
                    определен для выявления 20 мм отличия в показателе ВАШ на 16 неделе, считая 10 мм
                    стандартным отклонением от средних значений, для достижения статистической значимости в 90%.
                    С учетом 20%-го отсева мы рассчитали общую выборку в 225 пациентов.</p>

                <p class="title">Результаты</p>
                <p class="text">Ход исследования отражен на Схеме 2.</p>
                <img class="image descriprion_image" src="assets/images/ru3.bmp">

                <p class="title">Демография и исходное состояние пациентов. </p>
                <p class="text">В период исследования значимых отличий демографических характеристик исследуемых
                    групп от характеристик общей выборки не было. Демография и исходное состояние пациентов
                    приведено в Таблице 2.</p>
                <img class="image descriprion_image" src="assets/images/ru4.bmp">

                <p class="title">Распределение результатов по группам </p>
                <p class="text">Наиболее выраженные улучшения в группе пациентов, получавших двухкомпонентный
                    препарат (DMW), были отмечены после второй инъекции и сохранялись до 16й недели. На 52 неделе 8
                    пациентов имели показатели ВАШ 45 мм и не получили повторных инъекций. В этой группе уменьшение
                    показателя ВАШ боли при ходьбе было более значительным, чем в группах LMW or HMW. 39, 41 и
                    43 пациента получили повторные инъекции DMW, LMW и HMW на 52 неделе. Пациенты в группе
                    Плацебо в это же время получили лечение по выбору (LMW or HMW). Пациенты не получившие
                    инъекции в активную фазу исследования и выбывшие из протокола получили пероральные препараты
                    (N=5) или были прооперированы (N=2). На 104 неделе 9 пациентов в группе DMW имели показатели
                    ВАШ 45, тогда как все пациенты из групп LMW и HMW имели показатели ВАШ> 45 мм. 3 пациента
                    из группы HMW не явились на очередной осмотр (2 пациента сменили место жительства и 1
                    отказался). Опять же, пациенты, получившие DMW показали более значительное снижение ВАШ по
                    боли при ходьбе, чем 2 другие группы. Схожие тенденции были отмечены по дополнительным
                    параметрам в остальные временные промежутки. Комбинирование ГК низкого и высокого
                    молекулярных весов в низкой и высокой концентрации может являться более физиологичным и
                    динамичным вариантом терапии для вискозамещения. Это достигается за счет придания более
                    оптимальных реологических свойств синовиальной жидкости, и позволяет уменьшить боль и
                    улучшить функцию коленного сустава при остеоартрите.
                    На 16, 52 и 104 неделях соответственно, показатели ВАШ при ходьбе значительно изменились в
                    лучшую сторону по сравнению с начальным уровнем во всех трех группах: DMW (89.3%, P 0.001;
                    87.4%, P 0.001; 88.1%, P 0.001); LMW (81.3%, P 0.001; 78.2%, P 0.001; 77.0%, P 0.001)
                    and HMW (79.1%, P 0.001; 81.1%, P 0.001; 79.4%, P 0.001). На 52 неделе 8 пациентов в
                    группе DMW имели показатель ВАШ в покое 45 мм. В группе DMW показатели ВАШ в покое
                    были ниже (62 mm, P 0.001) по сравнению с группой LMW (76 мм) и HMW (88 мм). Схожие
                    отличия были и по ВАШ при ходьбе. 39, 41 и 43 (DMW, LMW, HMW) пациеныа получили
                    повторные инъекции. На 104-й неделе описанные отличия сохранились. У пациентов в группе
                    DMW были зарегистрированы значительно большие улучшения на 16, 52 и 104 неделе (P 0.001)
                    по сравнению с другими группами активного лечения, которые не отличались по показателям
                    друг от друга. Показатель ВАШ в покое значительно снизился во всех трех группах с
                    активным лечением в сравнении с базовым уровнем на 16, 52 и 104 неделе, однако значимых
                    отличий по группам выявлено не было (Схема 3).</p>
                <img class="image descriprion_image" src="assets/images/ru5.bmp">
                <p class="title">Безопасность</p>
                <p class="text">На протяжении 104 недель исследования тяжелых нежелательных явлений не было. Не
                    тяжелые нежелательные явления были связаны с самой процедурой инъекционного введения и были
                    представлены болью и локальной отечностью в месте инъекции (21%), покраснением в месте инъекции
                    (12%), и ограничением движения в суставе (7%). За 104 недели исследования только 2 пациента
                    выбрали хирургическое лечение и только 5 пациентов перешли на альтернативную терапию. По частоте
                    указанных явлений отличий по группам не было. Никакое из указанных явлений не привело в отсрочке
                    в процедурах данного исследования.
                    Внутрисуставное введение гиалуроната натрия как правило хорошо переносится пациентами. 10
                    пациентов (Placebo=3; DMW=2; LMW=1; HMW=4) вышли из протокола по не зависящим от хода
                    исследования причинам в первые 16 недель, и только 9 пациентов вышли из протокола (выбрали
                    альтернативную терапию) между 16 и 104 неделями. Тяжелых нежелательных явлений не было. Общая
                    удовлетворенность лечением была наибольшей в группе DMW по сравнению с другими группами на 16,
                    52 и 104 неделях (P 0.005). В дальнейшем потребность пациентов в другом лечении (например
                    физиотерапии, акупунктуре) в группе DMW была ниже во все временные периоды нежели во всех
                    других группах. </p>



                <p class="title">Обсуждение</p>
                <p class="text">Исследование выявило значительное уменьшение боли в покое у пациентов с
                    остеоартритом коленного сустава во всех случайным образом сформированных группах и получивших
                    лечение низкомолекулярной LMW, или высокомолекулярной HMW, или двойной комбинированной

                    гиалуроновой кислотой DMW. Однако, пациенты, получившие лечение двойной комбинированной ГК (DMW)
                    продемонстрировали значительное снижение боли связанной с активностью и низкую частоту
                    нежелательных явлений, а также низкую потребность в дополнительной терапии на 16, 52 и 104
                    неделях лечения в сравнении с терапией LMW и HMW гиалуронатами.
                    Пациенты группы DMW максимальных улучшений показателей ВАШ боли после второй инъекции, эти
                    изменения были наибольшими по сравнению с результатами других групп во все временные интервалы
                    исследования. В дальнейшем, пациенты группы DMW показали наивысшую удовлетворенность
                    результатами лечения в сравнении с другими группами на 16, 52 и 104 неделях.
                    Данные наблюдения позволяют предположить, что комбинация низко- и высокомолекулярных
                    гиалуронатов может обеспечить более физиологичное динамическое вискозамещение и, следовательно,
                    обеспечить более оптимальные реологические свойства суставной жидкости, что в свою очередь
                    позволит снизить боль и улучшить функцию коленного сустава, пораженного остеоартритом. Важно,
                    что в отличии от других одобренных в настоящее время препаратов, мы отслеживали результаты
                    лечения пациентов на протяжении 104 недель, что позволило нам показать долгосрочную
                    эффективность и безопасность данного комбинированного двойного продукта.
                    DMW – это двухкамерный шприц, содержащий гиалуронат натрия двух различных концентраций (низкой и
                    высокой) и молекулярных весов (высоко- и низкомолекулярный). Гиалуронаты натрия различных
                    молекулярных весов сравнивались, но доказательств, позволяющих сделать заключение о
                    превосходстве того или иного типа препаратов на сегодняшний день не существует. Концентрация
                    гиалуроната может играть решающую роль и некоторые опубликованные материалы содержат
                    предположения о ее прямом влиянии на вязкость синовиальной жидкости, а также на улучшение смазки
                    поверхностей сустава за счет улучшения двух составляющих этого процесса: уменьшения трения между
                    поверхностями и способности образовывать тонкую стойкую пленку17.
                    DMW, благодаря последовательному введению гиалуроната натрия разных молекулярных весов и
                    концентраций, способствует улучшению характеристик синовиальной жидкости повышая ее эластичность
                    под нагрузкой и обеспечивая гидродинамический эффект, отталкивающий поверхности сустава друг от
                    друга в моменты когда давление под нагрузкой их деформирует18. Это улучшает характеристики
                    синовиальной жидкости и позволяет защитить сустав под нагрузкой и при движении19.
                    Опубликованные на сегодняшний день исследования сообщают о эффективности гиалуронатов при
                    лечении пациентов с остеоартритом коленного сустава 6-9. Наши наблюдения во всех трех группах
                    подтверждают эффективность гиалуронатов, которые уменьшают симптомы и улучшают функцию при
                    остеоартрите коленного сустава редко вызываю нежелательные явления. Однако, интересно проверить
                    предположение о том, что синовиальная жидкость будучи динамичным компонентом, обеспечивающим
                    адаптацию коленного сустава к нагрузкам высокой и низкой частоты, в случае ее изменения под
                    влиянием остеоратрита, может нуждаться в специально подобранном вискозамещении особым вариантом
                    гиалуроната, который одномоментно обеспечит потребность сустава в двух различных диапазонах
                    молекулярного веса ГК. Эта концепция не нова.Balasz и Denlinger3 описали тенденцию к
                    прогрессивной потере баланса между эластическими и вязкостными свойствами синовиальной жидкости
                    при остеоартрите, тогда как Greenberg et al.16 недавно описали биохимические преимущества
                    введения двух разных вариантов ГК в модели остеоартрита.
                    Следовательно, боль при активности разной интенсивности у разных пациентов, которая со временем
                    меняется по силе, может быть связана с нарушением реологии синовиальной жидкости.
                    Вискозамещение с помощью препаратов ГК является терапевтической попыткой обеспечить временное
                    облегчение симптомов остеоартрита и основывается на этой аналогии. Однако, доступные препараты
                    отличаются по молекулярному весу ГК и являются или только низко-, или только высокомолекулярными
                    14. Следовательно, есть основания утверждать, что доступные варианты вискозамещения лишь
                    частично способны охватить необходимый диапазон молекулярных весов ГК, необходимых суставу.
                    Ключевыми находками данного исследования были значительное уменьшение боли и улучшение функции с
                    меньшим использованием дополнительной терапии у пациентов, которые были случайным образом
                    отобраны в группу DMW ГК, по сравнению с группами LMW и HMW, при долгосрочной эффективности и
                    безопасности. Улучшения были достигнуты лишь 2-мя инъекциями DMW гиалуроната, предлагающего
                    преимущества комбинации молекулярных весов и дающего более скорый и более выраженный эффект по
                    сравнению с HMW и LMW монопрепаратами ГК. Ограничениями данного исследования являются отсутствие
                    данных долгосрочного наблюдения за эффективностью лечения, а также отсутствие сравнения
                    множественных комбинаций молекулярных весов и концентраций ГК.
                    В этом исследовании использовались два коммерчески доступных препарата ГК в стандартной
                    дозировке, которые применялись по стандартному проколу в контрольных группах. Вероятно, что
                    применение этих препаратов в другой дозировке или в других концентрациях или молекулярных весах
                    могло бы привести к получению других результатов (включая продолжительность эффекта) и требует
                    дальнейшего изучения.
                    Инъекции гиалуроната натрия обеспечивают высокую удовлетворенность пациентов результатами
                    лечения и сопровождаются низкой частотой нежелательных явлений за длительный период наблюдений.
                    Это подтверждает предыдущие сообщения о том, что лечение остеоартрита коленного сустава
                    препаратами ГК является безопасным и эффективным вариантом терапии. Результаты данного
                    исследования позволяют предположить, что чередование молекулярных весов ГК в дальнейшем может
                    улучшить исходы у таких пациентов.
                    Нежелательные явления при введении ГК, описанные в литературе, это проходящая боль в месте
                    введения, отечность, экссудат. Также, реже наблюдалась локальная кожная реакция (сыпь,
                    экхимозы), зуд, головная боль, лихорадка. Частота нежелательных явлений после инъекции
                    составляла от 0-4% в контролируемых исследованиях, до 1,8% при инъекциях Synvisc и до 0,9% при
                    инъекциях LMW ГК в рандомизированных исследованиях, в двойных слепых сравнениях до 1.48% и 1.32%
                    после первой и второй серии инъекций по боли и отечности в месте инъекции 19-20. Указанные
                    симптомы были легко выражены и проходили через короткое время. В некоторых случаях симптомы были
                    продолжительными. В данном исследовании нежелательные явления были аналогичными или более
                    легкими, чем те, которые были описаны ранее.







                </p>
                <p class="title">Заключение</p>
                <p class="text">У пациентов, получивших комбинированный двойной препарат DMW ГК были достигнуты
                    значительные улучшения после второй инъекции, и они сохранялись до 104 недели после введения.
                    Комбинация гиалуронатов натрия низко- и высокомолекулярного диапазона в низкой и высокой
                    концентрации может обеспечить более физиологичное динамическое вискозамещение и, следовательно,
                    обеспечить более оптимальные реологические свойства суставной жидкости, что в
                    свою очередь позволит снизить боль и улучшить функцию коленного сустава, пораженного
                    остеоартритом.
                </p>

                <p class="title">References</p>
                <p class="text">
                    1. Dieppe P. Osteoarthritis. Acta Orthop Scand Suppl 1998;281:2-5.
                    2. American College of Rheumatology: Recommendations for the medical management of
                    osteoarthritis of the hip and knee: 2000 Update. American College of Rheumatology Subcommittee
                    on osteoarthritis guidelines. Arthritis Rheum 2000;43:1905-15.
                    3. Balasz EA, Denlinger SL. Viscosupplementation: a new concept in the treatment of
                    osteoarthritis. J Rheumatol 1993;20:3-9.
                    4. Dahlberg L, Lohmander LS, Ryd L. Intraarticular injections of hyaluronan in patients with
                    cartilage abnormalities and knee pain. Arthritis Rheum 1994;37:521- 528.
                    5. Dougados M, Nguyen M, Listrat V, Amor B. High molecular weight sodium hyaluronate (hyalectin)
                    in osteoarthritis of the knee: a 1-year placebo-controlled trial. Osteoarthritis Cartilage
                    1993;1:97- 103.
                    6. Petrella RJ, DiSilvestro MD, Hildebrand C. Effects of hyaluronate sodium on pain and physical
                    functioning in osteoarthritis of the knee. Arch Intern Med 2002;162:292-8.
                    7. Karlsson J, Sjogren LS, Lohmander LS. Comparison of two hyaluronan drugs and placebo in
                    patients with knee osteoarthritis: a controlled, randomized, double blind, parallel-design
                    multi-center study. Rheumatology 2002;41:1240-8.
                    8. Adams ME, Atkinson MH, Lussier AJ et al. The role of viscosupplementation with hylan GF-20
                    (Synvisc) in the treatment of osteoarthritis of the knee: a Canadian multi-centre trial
                    comparing hylan GF-20 alone, hylan GF-20 with non-steroidal anti- inflammatory drugs (NSAIDs)
                    and NSAIDs alone. Osteoarthrits Cartilage 1995;3:213- 26.
                    9. Arroll B, Goodyear-Smith F. Corticosteroid injections for osteoarthritis of the knee:
                    meta-analysis. BMJ 2004;328:869.
                    10. Lo GH, LaValley M, McAlindon T, Felson DT. Intraarticular hyaluronic acid in the treatment
                    of knee osteoarthritis: a meta-analysis. JAMA 2003;290:3115-21.
                    11. Divine J, Zazulak BT, Hewett TE. Viscosupplementation for Knee Osteoarthritis A Systematic
                    Review. Clin Orth Rel Res 2000;455:113-22.
                    12. Ghosh P, Guidolin D. Potential mechanism of action of intra-articular hyaluronan therapy in
                    osteoarthritis: are the effects molecular weight dependent? Semin Arthritis Rheum 2002;32:10-37.
                    13. Roy D. Altman. Intra-articular Sodium Hyaluronate in Osteoarthritis of the Knee. Semin
                    Arthritis Rheum 2001;30:11-8.
                    14. Kotevoglu N, Cakıl P, Hız IO, et al. A prospective randomised controlled clinical trial
                    comparing the efficacy of different molecular weight hyaluronan solutions in the treatment of
                    knee osteoarthritis. Rheumatol Int 2006;26:325-30.
                    15. Bellamy N, Campbell J, Robinson V, et al. Viscosupplementation for the treatment of
                    osteoarthritis of the knee. Cochrane Database Syst Rev 2006;CD005321.
                    16. Greenberg DD, Stoker A, Kane S, et al. Biochemical effects of two different hyaluronic acid
                    products in a co-culture model of osteoarthritis. Osteoarthritis Cartilage 2006;14:814-22.
                    17. Murakami T, Salai N, Sawae Y, et al. Influence of proteoglycan on time-dependent mechanical
                    behaviors of articular cartilage under constant total compressive deformation. JSME Int J
                    2004;47:1049-55.
                    18. Ghosh P, Guidolin D. Potential mechanism of action of intra-articular hyaluronan therapy in
                    osteoarthritis: are the effects of molecular weight dependent? Seminars Arthritis Rheum
                    2002;32:10-37.
                    19. Lussier A, Cividino AA, McFarlane CA, et al. Viscosupplementation with hylan for the
                    treatment of osteoarthritis: findings from clinical practice in Canada. J Rheumatol
                    1996;23:1579-85.
                    20 R. J. Petrella. Hyaluronic acid for the treatment of knee osteoarthritis: long-term outcomes
                    from a naturalistic primary care experience. Am J Phys Med Rehabil 2005; 84:8-83.

                </p>



            </div>

        </articles-item-view>
        <articles-item-view [title]="'подтвержденнАЯ долгосрочноАЯ эффективность'">
                <img class="image articles_image" src="assets/images/articles0.bmp">
                <img class="image articles_image" src="assets/images/articles1.bmp">
                <img class="image articles_image" src="assets/images/articles2.bmp">
                <img class="image articles_image " src="assets/images/articles3.bmp">
        </articles-item-view>

    </div>
</section>