<footer class="footer">
    <div class="footer_container">
        <div class="list">
            <p class="type">МЕНЮ</p>
            <ul class="menu">
                <li class="title" routerLink="/main/about-product"><a>О Продукте</a></li>
                <li class="title" routerLink="/main/pharmacies"><a>Аптеки</a></li>
                <li class="title" routerLink="/main/articles"><a>Полезные статьи</a></li>


            </ul>
            <ul class="last">
                <li class="title" routerLink="/main/instruction"><a>Инструкция</a></li>
                <li class="title" routerLink="/main/doctors"><a>Врачам/пациентам</a></li>
                <li class="title" routerLink="/main/contacts"><a>Контакты</a></li>
            </ul>

        </div>
        <div class="registration_list">
            <p class="type">контакты</p>
            <ul>
                <li class="title"><a>НАЗВАНИЕ:RENEHAVIS</a></li>
                <!-- <li class="title"><a>АДРЕС:108811, город Москва, километр Киевское шоссе 22-й (п Московский), домовлад.
                        4 стр 5 корп е, блок 502е эт 5 оф 18</a></li> -->
                <li class="title"><a>ТЕЛЕФОН:9 495 532 67 68 </a></li>
                <li class="title"><a>ЭЛ.АДРЕС:info@ренехавис.рф</a></li>
            </ul>
        </div>
        <div class="subscrib">
            <p class="type">НОВОСТНАЯ РАССЫЛКА</p>
            <form>
                <a class="btn_email"><span [ngStyle]="{'margin':'auto'}">E-маи</span></a>
                <a class="btn_reg"><span [ngStyle]="{'margin':'auto'}"> Подписаться</span></a>
            </form>

        </div>

    </div>
</footer>