@import "../../../../../../assets/mixin";

.footer {
    width: 100%;
    background: #262626;
    padding: 10px 0;

    .footer_container {
        width: 75%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        margin: 30px auto;

        .type {
            @include text(16px, #ffffff);
            margin-bottom: 15px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    .title {
        @include title-style(14px);
        transition: all .5s ease-out;
        cursor: pointer;
        text-transform: uppercase;
        outline: none;

        &:hover {
            color: #005984;
        }
    }

    .menu {
        float: left;
    }

    .last {
        float: right;
        margin-left: 100px;
    }
    
 .social_media{
     display: flex;
     .social_image{
         height: 50px;
     }
     .title{
         margin: auto;
     }
 }

}
