<footer class="footer">
    <div class="footer_container">
        <div class="list">
            <p class="type">МЕНЮ</p>
            <ul class="menu">
                <li class="title" routerLink="/main/home"><a>Главная</a></li>
                <li class="title" routerLink="/main/about-product"><a>О Продукте</a></li>
                <li class="title" routerLink="/main/pharmacies"><a>Аптеки</a></li>
                <li class="title" routerLink="/main/articles"><a>Полезные статьи</a></li>


            </ul>
            <ul class="last">
                <li class="title" routerLink="/main/instruction"><a>Инструкция</a></li>
                <li class="title" routerLink="/main/doctors"><a>Врачам/пациентам</a></li>
                <li class="title" routerLink="/main/contacts"><a>Контакты</a></li>
            </ul>

        </div>
        <div class="registration_list">
            <p class="type">контакты</p>
            <ul>
                <li class="title"><a>НАЗВАНИЕ: ООО "ФАРМАКОЛ"</a></li>
                <li class="title"><a>ТЕЛЕФОН: +7 495 532 67 68 </a></li>
                <li class="title"><a>ЭЛ.АДРЕС: info@ренехавис.рф</a></li>
            </ul>
        </div>
        <div class="subscrib">
            <p class="type">социальные медиа</p>
            <div class="social_media">
                <img class="image social_image" src="assets/images/instagram.png">
                <p class="title"> Инстаграм</p>
            </div>


        </div>

    </div>
</footer>