<footer class="footer">
        <div class="footer_container">
            <div class="list">
                <p class="type">МЕНЮ</p>
                <ul class="menu">
                    <li class="title"><a>Аптеки</a></li>
                    <li class="title"><a>Полезные статьи</a></li>
                    <li class="title"><a>Инструкция</a></li>
                    <li class="title"><a>О Продукте</a></li>
                </ul>
                <ul class="last">
                    <li class="title"><a>ДОКТОР</a></li>
                    <li class="title"><a>ГАЛЕРЕЯ</a></li>
                    <li class="title"><a>СВЯЗАТЬСЯ С НАМИ</a></li>
                </ul>
               
            </div>
            <div class="registration_list">
                <p class="type">контакты</p>
                <ul>
                    <li class="title"><a>НАЗВАНИЕ:MEDIPLUS</a></li>
                    <li class="title"><a>АДРЕС:LOREM IPSUL IS SIMPLE</a></li>
                    <li class="title"><a>ТЕЛЕФОН:+434343454543</a></li>
                    <li class="title"><a>ЭЛ.АДРЕС:INFOMEDIPLUS@MAIL.RU</a></li>
                </ul>
            </div>
            <div class="subscrib">
                    <p class="type">НОВОСТНАЯ РАССЫЛКА</p>
                    <form>
                        <a class="btn_email"><span  [ngStyle]="{'margin':'auto'}">E-маи</span></a>
                        <a class="btn_reg"><span [ngStyle]="{'margin':'auto'}"> Подписаться</span></a>
                    </form>
                   
                </div>
    
        </div>
    </footer>
    