<div class="left_menu" [ngClass]="{'openMenu':menuService.getOpenMenu(),'closeMenu':!menuService.getOpenMenu()}">
        <div class="left_conteiner" full-width>
            <div class="menu_items" full-width cursor-pointer (click)="menuService.openLeftMenu()" *ngFor="let item of menuItem" [routerLink]="item.router"
                routerLinkActive="activeRouter">

               
                <div class="items" full-width display-flex>
                    <span class="item_title" font-family-Open-Sans font-weight-bold  [ngStyle]="{'color':color}">{{item.link}}</span>
                    <img  class="image item_image" src="{{item.icon}}">
                </div>
            </div>
        </div>
    </div>
    <div class="overlay" *ngIf="menuService.getOpenMenu() && menuService.smallDisplay" (click)="menuService.openLeftMenu()">
    
    </div>

    <!-- +7 495 532 67 68 -->