.header_content {
    width: 100%;
    -webkit-box-shadow: 11px 4px 17px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 11px 4px 17px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 11px 4px 17px -8px rgba(0, 0, 0, 0.75);
    transition: all 0.5s;
    display: flex;

    .navbar {
        display: flex;
        align-items: center;
     
        justify-content: space-between;
         width: 85%;
        margin: 0 auto;
    }

    .logo {
        cursor: pointer;
        outline: none;

        img {
            width: 150px;
            height: 55px;
        }
    }

    .nav_items {
        list-style-type: none;
        display: flex;
        border-radius: 5px;
        align-items: center;
        outline: none;

        .main_nav_item {
            &_link {
                display: inline-block;
                font-weight: bold;
                text-align: left;
                color: #8993a1;
                padding: 10px 15px;
                text-decoration: none;
                cursor: pointer;
                text-transform: uppercase;
                font-family: 'Roboto', sans-serif;


                &:after {
                    display: block;
                    content: '';
                    margin-top: 5px;
                    border-bottom: solid 3px #005984;
                    transform: scaleX(0);
                    transition: transform 250ms ease-in-out;
                }

                &:hover:after {
                    transform: scaleX(1);
                }
            }
        }

    }
    .material_icon{
        cursor: pointer;
        padding: 20px 20px;
        display: none;
        i{
            font-size: 45px;
            color: #005984;
        }
    }
}

.tel_number{
display: inline-block;
font-weight: bold;
text-align: left;
color: #8993a1;
padding: 10px 20px;
text-decoration: none;
cursor: pointer;
text-transform: uppercase;
font-family: 'Roboto', sans-serif;

}
.active_item{
    color: #005984 !important;
}
.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
 background: #ffffff;
    z-index: 999999;
    box-shadow: 11px 4px 17px -8px rgba(0, 0, 0, 0.75);
}

@media only screen and (max-width:1400px){
.navbar{
    width: 100% !important;
    .main_nav_item_link{
        padding: 10px 10px !important;
    }
}
   
}

@media only screen and (max-width:1100px){
    .nav_items{
        display: none !important;
    }
    .material_icon{
        display: block !important;
    }
}